.margin {
  margin: -20px 0 0 0;
}

.description {
  margin-left: 60px;
  font-size: 20px;
  font-weight: 300;
}

.sub {
  color: #777;
  font-size: 14px;
  margin-left: 7px;

  position: relative;
  left: 59px;
  bottom: 3px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #cccccc;
  height: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

input:checked + .slider {
  background-color: mediumseagreen;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .sub {
    font-size: 14px;
  }
}
