@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 70px;
  background-color: #3cb371;
  color: white;
  font-size: 18px;
  border: 0px solid transparent;
  border-radius: 50px;
}

.button:hover {
  background-color: #3CB37199;
  color: white;
}

.button:disabled {
  background-color: #cccccc;
  color: #666666;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
